<a href="https://colab.research.google.com/github/NimyaSatheesh/MachineLearningDataStructure/blob/main/dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1. create Dataframe From Series
import pandas as pd
name=pd.Series(['Hardik','Virat'])
team=pd.Series(['MI','RCB'])
dic={'Name':name,'Team':team}
df=pd.DataFrame(dic)
print(df)

     Name Team
0  Hardik   MI
1   Virat  RCB

In [ ]:
#2. DataFrame from List of Dictionaries
import pandas as pd
l = [{'name':'sachin','sirname':'bhardwaj'},
   {'name':'vinod','sirname':'verma'},
   {'name':'rajesh','sirname':'mishra'}]
df1=pd.DataFrame(l)  
print(df1)

     name   sirname
0  sachin  bhardwaj
1   vinod     verma
2  rajesh    mishra

In [ ]:
#3. Display the first 5 rows of data frame
import pandas as pd
m = [{'name':'sachin','sirname':'bhardwaj'},
   {'name':'vinod','sirname':'verma'},
   {'name':'rajesh','sirname':'mishra'},
   {'name':'ran','sirname':'mira'},
   {'name':'ram','sirname':'mia'},
   {'name':'mesh','sirname':'kashra'}]
df2=pd.DataFrame(m)  
print(df1)
for(row_index,row_value) in df2.iterrows():
  print('\n Row index is ::',row_index)
  print('Row value is::')
  print(row_value)

     name   sirname
0  sachin  bhardwaj
1   vinod     verma
2  rajesh    mishra

 Row index is :: 0
Row value is::
name         sachin
sirname    bhardwaj
Name: 0, dtype: object

 Row index is :: 1
Row value is::
name       vinod
sirname    verma
Name: 1, dtype: object

 Row index is :: 2
Row value is::
name       rajesh
sirname    mishra
Name: 2, dtype: object

 Row index is :: 3
Row value is::
name        ran
sirname    mira
Name: 3, dtype: object

 Row index is :: 4
Row value is::
name       ram
sirname    mia
Name: 4, dtype: object

 Row index is :: 5
Row value is::
name         mesh
sirname    kashra
Name: 5, dtype: object

In [ ]:
#4. Select the last two columns of the data frame
import pandas as pd
l = [{'name':'sachin','sirname':'bhardwaj'},
   {'name':'vinod','sirname':'verma'}]
df3=pd.DataFrame(l)  
print(df3)
for(col_name,col_value) in df3.iteritems():
  print('\n')
  print('Column name is ::',col_name)
  print('column values are::')
  print(col_value)

     name   sirname
0  sachin  bhardwaj
1   vinod     verma


Column name is :: name
column values are::
0    sachin
1     vinod
Name: name, dtype: object


Column name is :: sirname
column values are::
0    bhardwaj
1       verma
Name: sirname, dtype: object

In [ ]:
#5. Add two data frames
import pandas as pd
g = pd.Series([10,15,18,22])
df=pd.DataFrame(g)
df.columns=['List1']
df['List2']=20
df['List3']=df['List1']+df['List2']
print(df)

   List1  List2  List3
0     10     20     30
1     15     20     35
2     18     20     38
3     22     20     42

In [ ]:
#6. Demonstrate deletion, and renaming of columns
import pandas as pd
g = pd.Series([10,15,18,22])
df=pd.DataFrame(g)
df.columns=['List1']
df['List2']=20
df['List3']=df['List1']+df['List2']
del df['List3']
print(df)
print('\npop\n')
df.pop('List2')
print(df)

   List1  List2
0     10     20
1     15     20
2     18     20
3     22     20

pop

   List1
0     10
1     15
2     18
3     22

In [29]:
#7. Demonstrate concat, Merge operations in data frame
import pandas as pd
dict1={'id':['1','2','3','4','5'],'value1':['A','C','E','G','I'],
       'value2':['B','D','F','H','J']}
dict2={'id':['2','3','6','7','8'],'value1':['K','M','O','Q','S'],
       'value2':['L','N','P','R','T']}
dict3={'id':['2','3','1','7','8','9','1','4','5','0'],
       'value3':['cA','ra','Ka','Ma','Oa','Qa','ta','ja','ea','Sa']}

df1=pd.DataFrame(dict1)
df2=pd.DataFrame(dict2)
df3=pd.concat([df1,df2])
print("..........concat........\n", df3)

df4=pd.DataFrame(dict3)
print("\ndict4 = \n",df4)

df5=pd.merge(df1,df4,on='id')
print("\n\n====merge====\n",df5)

df6=pd.merge(df3,df4,left_on='id',right_on='id')
print("\n\n........merge with interchange name......\n",df6)

df7=pd.merge(df1,df2,right_index=True,left_index=True)
print("\n\n.........Joining index.....\n",df7)

..........concat........
   id value1 value2
0  1      A      B
1  2      C      D
2  3      E      F
3  4      G      H
4  5      I      J
0  2      K      L
1  3      M      N
2  6      O      P
3  7      Q      R
4  8      S      T

dict4 =
   id value3
0  2     cA
1  3     ra
2  1     Ka
3  7     Ma
4  8     Oa
5  9     Qa
6  1     ta
7  4     ja
8  5     ea
9  0     Sa


====merge====
   id value1 value2 value3
0  1      A      B     Ka
1  1      A      B     ta
2  2      C      D     cA
3  3      E      F     ra
4  4      G      H     ja
5  5      I      J     ea


........merge with interchange name......
   id value1 value2 value3
0  1      A      B     Ka
1  1      A      B     ta
2  2      C      D     cA
3  2      K      L     cA
4  3      E      F     ra
5  3      M      N     ra
6  4      G      H     ja
7  5      I      J     ea
8  7      Q      R     Ma
9  8      S      T     Oa


.........Joining index.....
   id_x value1_x value2_x id_y value1_y value2_y
0    1        A        B    2        K        L
1    2        C        D    3        M        N
2    3        E        F    6        O        P
3    4        G        H    7        Q        R
4    5        I        J    8        S        T

In [26]:
#8. Write a Pandas program to join the two given dataframes along rows and assign all data

import pandas as pd
df6.to_csv('output.csv')

In [28]:
data=pd.read_csv('output.csv')
data

   Unnamed: 0  id value1 value2 value3
0           0   1      A      B     Ka
1           1   1      A      B     ta
2           2   2      C      D     cA
3           3   2      K      L     cA
4           4   3      E      F     ra
5           5   3      M      N     ra
6           6   4      G      H     ja
7           7   5      I      J     ea
8           8   7      Q      R     Ma
9           9   8      S      T     Oa