<a href="https://colab.research.google.com/github/NimyaSatheesh/MachineLearningDataStructure/blob/main/pandsas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#1. How to create Series with nd array
import pandas as pd
import numpy as np
arr=np.array([10,12,20,24,30])
s = pd.Series(arr)
print(s)

0    10
1    12
2    20
3    24
4    30
dtype: int64

In [10]:
#2. How to create Series with Mutable index
import pandas as pd

import numpy as np
arr=np.array(['a','b','c','d'])
p=pd.Series(arr, index=['first','second','third','fourth'])
print(p)

first     a
second    b
third     c
fourth    d
dtype: object

In [11]:
import pandas as pd
x = pd.Series(50 , index=[20,30,40,50])
print(x)

20    50
30    50
40    50
50    50
dtype: int64

In [12]:
#3. Creating a series from a Dictionary
import pandas as ps
d = {'name' : 'kia', 'phone' : 98563953, 'runs' : 1500} 
y = pd.Series(d)
print(y)

name          kia
phone    98563953
runs         1500
dtype: object

In [18]:
#4. Print all the values of the Series by multiplying them by 2.
#5. Print Square of all the values of the series.
#6. Print all the values of the Series that are greater than2
import pandas as pd
b=pd.Series([0,1,2,3,4])
print("multiple all values by 2")
print('.....................')
print(b*2)
print("Squere for all value")
print(".....................")
print(b**2)
print("print values greater than 2")
print('.....................')
print(b[b>2])

multiple all values by 2
.....................
0    0
1    2
2    4
3    6
4    8
dtype: int64
Squere for all value
.....................
0     0
1     1
2     4
3     9
4    16
dtype: int64
print values greater than 2
.....................
3    3
4    4
dtype: int64

In [17]:
#7. Addition of two series
import pandas as pd
s1=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s2=pd.Series([10,20,30,40,50],index=['a','b','c','d','e'])
s3=pd.Series([5,14,23,32],index=['a','b','c','d'])
print("Add S1 and S2")
print('.....................')
print(s1+s2)
print("Add S2 and S3")
print('.....................')
print(s2+s3)
print("Add S2 and S3 and filled non matching index with 0")
print('.....................')
print(s2.add(s3,fill_value=0))

Add S1 and S2
.....................
a    11
b    22
c    33
d    44
e    55
dtype: int64
Add S2 and S3
.....................
a    15.0
b    34.0
c    53.0
d    72.0
e     NaN
dtype: float64
Add S2 and S3 and filled non matching index with 0
.....................
a    15.0
b    34.0
c    53.0
d    72.0
e    50.0
dtype: float64

In [21]:
import pandas as pd
import numpy as np
arra=np.array([10,12,20,24,30,34,56,66,99])
c=pd.Series(arra)
print(c.head())
print(c.head(3))

0    10
1    12
2    20
3    24
4    30
dtype: int64
0    10
1    12
2    20
dtype: int64

In [22]:
import pandas as pd
import numpy as np
ar=np.array([10,12,20,24,30,34,56,66,99])
d=pd.Series(ar)
print(d.tail())
print(d.tail(4))

4    30
5    34
6    56
7    66
8    99
dtype: int64
5    34
6    56
7    66
8    99
dtype: int64

In [27]:
#8. Print the first and last 5 elements of a series
#9. Print the values from index 0 to 5
#10. Selection Using loc, iloc index label
import pandas as pd
import numpy as np
ara=np.array([10,20,30,35,40,45])
e=pd.Series(ara)
print(e)
print("\n.........loc........\n")
print(e.loc[:2])
print(e.loc[3:4])
e.loc[2:3]

print("\n...........iloc......\n")
print(e.iloc[:2])
print(e.iloc[3:4])
e.iloc[2:3]

0    10
1    20
2    30
3    35
4    40
5    45
dtype: int64

.........loc........

0    10
1    20
2    30
dtype: int64
3    35
4    40
dtype: int64

...........iloc......

0    10
1    20
dtype: int64
3    35
dtype: int64

2    30
dtype: int64

In [28]:
#W11. Retrieve subsets of data using slicing
import pandas as pd
import numpy as np
arraa=np.array([10,15,20,25,30,40])
f=pd.Series(arraa,index=['A','B','C','D','E','F'])
print(f)
print(s[1:5:2])
print(s[0:6:2])

A    10
B    15
C    20
D    25
E    30
F    40
dtype: int64
30    50
50    50
dtype: int64
20    50
40    50
dtype: int64